<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=yes">
</head>

<body>
    <script type=text/javascript src="{{ url_for('static', filename='js/nav.js') }}"></script>

    <div id="header">
        <div id="header-content">
        <div class="content">
            <div class="topnav" id="myTopnav">
                <a style="color: #999E20; " href="/">altair</a>
                <a target="_blank" href="https://cloud.altair.fi">cloud</a>

                <div class="dropdown">
                    <button class="dropbtn">misc
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="{{ url_for('league_on_arch') }}">League on Arch</a>
                        <a href="{{ url_for('space') }}">space</a>
                    </div>
                </div>

                <a href="{{ url_for('about') }}">about</a>
                <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="navFunction()">&#9776;</a>
            </div>
        </div>
        </div>
    </div>

    <div id="main-page">
        <div class="main-page-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <div id="footer">
        <div id="footer-content">
        <div class="content" style="padding-top: 16px">
            <span class="text-wrap" style="float: left;">Powered by Python, Flask, Gunicorn, NGINX and Debian. <a target="_blank" href="https://github.com/Vogelchevalier/altair">GitHub</a></span>
            <span class="text-wrap" style="float: right;"><a target="_blank" href="https://www.last.fm/user/xLapin">{{ song }} <img src="{{ url_for('static', filename='img/lastfm.png') }}" alt="Last.fm logo" style="vertical-align: middle; width:18px;height:18px;"></a></span>
        </div>
    </div>
    </div>
</body>

</html>