{% extends "layout.html" %}
{% block title %}
    League of Legends on Arch Linux - Altair
{% endblock %}
{% block content %}
<div class="text-wrap">
<h1>A Lutris-free League of Legends install guide for Arch based distros</h1>
<p class="code-wrap">sudo pacman -Syu</p>
<a target="_blank" href="https://wiki.archlinux.org/index.php/System_maintenance#Partial_upgrades_are_unsupported">Partial upgrades are unsupported.</a>
Always run pacman -Syu before installing anything. This guide is probably not the most beginner-friendly, but in my opinion it's the most sane way to run League on Linux.
<h2>Drivers</h2>
<ul><li><h3>Nvidia</h3>
You want the proprietary drivers from Nvidia, and a card that supports Vulkan. <a target="_blank" href="https://wiki.archlinux.org/index.php/NVIDIA">Arch Wiki</a></li>
<li><h3>ATI / AMD</h3>
sdfsdf</li>
<li><h3>Intel</h3>
sdfsdfsdfsdfsdf</li></ul>
</div>
{% endblock %}